
.wrapper {
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.buttonList {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.button {
    font-size: 18px;
    width: 350px;
    border: none;
    outline: none;
    height: 50px;
    cursor: pointer;
    margin-bottom: 5px;
}

.button:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button:last-child {
    margin-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.labor {
    background-color: #d7ff83;
    padding-left: 5px;
}
.kongress {
    background-color: #ffb4e1;
    padding-left: 5px;
}
.glavniy {
    background-color: #ffd4a1;
    padding-left: 5px;
}
.museum {
    background-color: #b0434a;
    padding-left: 5px;
}
.disit {
    background-color: #f19e9e;
    padding-left: 5px;
}
.library {
    background-color: #8ca5ff;
    padding-left: 5px;
}
.ulk {
    background-color: #fffca9;
    padding-left: 5px;
}

.greyBG {
    background-color: grey;
}

.text {
    color: white;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
}